
:global {
  .ant-carousel {
    margin: -24px -24px 0 -24px;
  }
  .ant-carousel .slick-slide {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background: #364d79;
    overflow: hidden;
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}
@media only screen and (min-width:769px) {
  :global {
    .ant-carousel .slick-slide {
      height: 500px;
      line-height: 500px;
    }
  }
}
