@import "~antd/lib/style/themes/default.less";

.credit {
  a {
    color: #04b9c2;
    &:hover {
      color: #44c9c2;
    }
  }
}
.nav {
  img {
    width: 100%;
  }
  div {
    background-color: @primary-color;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
}
.content {
  margin-top: 24px;
}